body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: none;
  top: 20px;
  position: relative;
  width: 400px;
  height: auto;
  max-height: 75%;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
  overflow-x: hidden;
  
  left: 80px;
  
}
.greet_img {
  margin-bottom: 30px; /* Add margin to separate it from the content below */
}

.greet_img img {
  height: 110%; /* Let the height adjust proportionally */
  width: 100%;
  display: block; /* Center the image horizontally */
  margin: 0 auto; /* Center the image horizontally */
}
.task-icon-greet, .search-box-greet, .change-color-icon-greet{
  position: absolute;
  cursor: pointer;
  /* overflow: hidden; */
}
.task-icon-greet {
  bottom: 3px;
  left: 290px;
  
}
.search-box-greet {
  bottom: 10px;
  left: 105px;
  
}
/* .change-color-icon-greet{
  bottom: 5px;
  left: 280px;

} */

.task-icon, .search-box, .change-color-icon {
  position: absolute;
  
  bottom: auto;
  cursor: pointer;
}

.task-icon {
  position:absolute ;
  top: 80px;
  right: 145px;
  z-index: 1;
}
.add-icon{
  height: 25px;
  
}
.add-icon1{
  height: 25px;
  
}

.search-box {
  position:absolute ;
  top: 80px;
  right: 180px;
  z-index: 1;
  
}

.change-color-icon {
  position:absolute ;
  top: 80px;
  right: 115px;
  z-index: 1;
  
}
#tasksContainer {
position: relative; /* Make sure the tasks container is relative to allow absolute positioning */
padding-top: 50px; /* Adjust as needed based on the height of search box and add button */
}

.new-task-screen {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.new-task-screen.active {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.new-task-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.task-item {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  position: relative;
}

.edit-icon, .delete-icon, .clear-all-icon {
  position: absolute;
  top: 5px;
  cursor: pointer;
  
}

.edit-icon {
  right: 30px;
  height: 25px;
}

.delete-icon {
  right: 10px;
  /* top: 3px; */
  height: 25px;
}

.clear-all-icon {
  top: 13px;
  right: 75px;
  font-size: 100px;
  z-index: 1;
}
.clear-all{
  height: 25px;
}

.color-option {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}
.color-icon{
  position: absolute;
  height: 25px;
  right: -2px;
  top: -2px;
  
  
}

.color-picker-form {
  background-color: #fff;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  justify-content: center;
}

.fcf6bd {
  box-shadow: 0px 3.5px 0px 0px #fcf6bd;
  border-color: #fcf6bd;
}

.task-item {
  border-radius: 20px;
  
  margin-top: 20px;
   
  
    border-top-left-radius: 27px solid  rgba(0, 0, 0, 0.8);
    border-top: 2px solid  rgba(0, 0, 0, 0.8);
    border-right: 2px solid  rgba(0, 0, 0, 0.8);
 
   
    /* border:  2px solid  rgba(0, 0, 0, 0.8); */
 /* Adjust border style as needed */
    box-shadow: -10px 8px 2px -1px rgba(0, 0, 0, 0.8);
    /* Other styling properties */
}