@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
	font-family: 'Roboto', sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}
/*----------bootstrap-navbar-css------------*/
.navbar-logo{
	padding: 15px;
	color: #fff;
    text-decoration: none;
    position: absolute;
    top: 3px;
    z-index: 4;
}
.navbar-mainbg{
	background-color: #5161ce;
	padding: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}
#mainContent{
	overflow: hidden;
	position: relative;
}
#mainContent ul{
	padding: 0px;
	margin: 0px;
}
#mainContent ul li a i{
	margin-right: 10px;
}
#mainContent li {
	list-style-type: none;
    display: inline-block;
	float: none ;
    margin-left: 125px;
    justify-content: space-evenly;
    
}
/* #mainContent ul li:first-child a {
    Apply transition effect here
    transition: all 0.5s ease;
} */

#mainContent ul li a{
	color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}

#mainContent ul li a img{
	position: absolute;
	top: -15px;
	right: -10px;
	width: 100px;
	height: 100px;
	
	

}
#mainContent>ul>li.active>a{
	color: #5161ce;
	background-color: transparent;
	transition: all 0.6s;
	
}

.nav-list{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	/* left: 300px !important; */
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #ffffff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
    
}
.nav-list .right, .nav-list .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #ffffff;
	bottom: 10px;
	
   
}
.nav-list .right{
	right: -25px;
	/* left: -100px; */
    
}
.nav-list .left{
	left: -25px;
	/* left: -250px; */
}
.nav-list .right:before, .nav-list .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
	
    border-radius: 50%;
    background-color: #5161ce;
    
}
.nav-list .right:before{
	bottom: 0;
    right: -25px;
	
    
}
.nav-list .left:before{
	bottom: 0;
    left: -25px;
	
}

.quotefull{
	position: absolute;
	top: 75px;
}

